*{
    margin:auto;
}
.headpage{
    justify-content: space-around;
    background:linear-gradient(to bottom,rgb(108, 108, 241),white);
    display: flex;
    padding: 20px;
    
}
#costlogo{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;  
}
#costlogo:hover{
    cursor: grab;
}
#text{
    font-size:50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    display:grid;
    text-shadow:-3px 0px 0 white;
    font-weight:bolder;   
}
#text:hover{
    cursor: grab;
    color: orange;
}
.nav-bar{
    width: 60%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}
.nav-bar a{
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.container{
    background-color: blue;
}
.nav-bar a:hover{
    color:orange;
}
#paragraph{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px; 
    font-size: larger;
}
#text2{
    font-size: 30px;
    text-align: center;

}
#pictures img{
    border: 3px solid rgb(243, 186, 80);    
    margin-top: 20px;
    height: 200px;
    width: 370px;
  
}
#pictures{
    align-content: center;
    justify-content: space-between;
    display: flex;
}
footer{
    background-color: rgb(10, 10, 106); 
    text-align: center;
    position: sticky;
}
.ARR{
    margin-top:20px;
    font-size: 16px;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 5px;
}
